<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
        <add key="TokenEndpoint" value="https://login.microsoftonline.com/{0}/oauth2/token" />
        <add key="SiteDataEndPoint" value="https://graph.microsoft.com/v1.0/sites/sharepointistech.sharepoint.com:/sites/RnD1" />
        <add key="ListsEndPoint" value="https://graph.microsoft.com/v1.0/sites/{0}/lists" />
		<add key="ListDataEndPoint" value="https://graph.microsoft.com/v1.0/sites/{0}/lists/{1}/items?expand=fields" />
		<add key="ListFieldsUpdateEndPoint" value="https://graph.microsoft.com/v1.0/sites/{0}/lists/{1}/items/{2}/fields" />
		<!--<add key="ListDataByFilter" value="https://graph.microsoft.com/v1.0/sites/{0}/lists/{1}/items?expand=fields(select=field1,field2,field3)&filter=((fields/field1 ne 'Y') and (fields/field2 eq 'Approved'))&top=5000" />-->
		<add key="ListDataByFilterLib" value="https://graph.microsoft.com/v1.0/sites/{0}/lists/{1}/items" />
		<add key="grant_type" value="client_credentials" />
		<add key="client_id" value="633609aa-94e4-4bd1-8e7a-98782759dfb3" />
		<add key="client_secret" value="whZ8Q~KtJtS6YFXfgN~yD9HuA08baw2WdE0AwbSm" />
		<add key="resource" value="https://graph.microsoft.com" />
		<add key="scope" value="https://graph.microsoft.com/.default" />
		<add key="tenantid" value="cb1edbfe-8080-457d-9cae-51528f36433f" />
		<add key="GetDrives" value="https://graph.microsoft.com/v1.0/sites/{0}/drives" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kiota.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
